TI-Ingest-Alienvault-LogicApp
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Switch": {
                        "cases": {
                            "Case": {
                                "actions": {
                                    "HTTP_2": {
                                        "inputs": {
                                            "authentication": {
                                                "audience": "https://graph.microsoft.com",
                                                "clientId": "",
                                                "secret": "",
                                                "tenant": "",
                                                "type": "ActiveDirectoryOAuth"
                                            },
                                            "body": {
                                                "action": "alert",
                                                "activityGroupNames": [],
                                                "confidence": 0,
                                                "description": "OTX Threat Indicator - @{items('For_each')?['type']}",
                                                "expirationDateTime": "@{addDays(utcNow(),7)}",
                                                "externalId": "@{items('For_each')?['id']}",
                                                "killChain": [],
                                                "malwareFamilyNames": [],
                                                "severity": 0,
                                                "tags": [],
                                                "targetProduct": "Azure Sentinel",
                                                "threatType": "WatchList",
                                                "tlpLevel": "white",
                                                "url": "@{items('For_each')?['indicator']}"
                                            },
                                            "headers": {
                                                "content-type": "application/json"
                                            },
                                            "method": "POST",
                                            "uri": "https://graph.microsoft.com/beta/security/tiIndicators"
                                        },
                                        "runAfter": {},
                                        "type": "Http"
                                    }
                                },
                                "case": "URL"
                            },
                            "Case_2": {
                                "actions": {},
                                "case": "domain"
                            },
                            "Case_3": {
                                "actions": {},
                                "case": "hostname"
                            },
                            "Case_4": {
                                "actions": {
                                    "HTTP_3": {
                                        "inputs": {
                                            "authentication": {
                                                "audience": "https://graph.microsoft.com",
                                                "clientId": "",
                                                "secret": "",
                                                "tenant": "",
                                                "type": "ActiveDirectoryOAuth"
                                            },
                                            "body": {
                                                "IPv4": "@{items('For_each')?['indicator']}",
                                                "action": "alert",
                                                "activityGroupNames": [],
                                                "confidence": 0,
                                                "description": "OTX Threat Indicator - @{items('For_each')?['type']}",
                                                "expirationDateTime": "@{addDays(utcNow(),7)}",
                                                "externalId": "@{items('For_each')?['id']}",
                                                "killChain": [],
                                                "malwareFamilyNames": [],
                                                "networkDestinationIPv4": "@{items('For_each')?['indicator']}",
                                                "severity": 0,
                                                "tags": [],
                                                "targetProduct": "Azure Sentinel",
                                                "threatType": "WatchList",
                                                "tlpLevel": "white"
                                            },
                                            "headers": {
                                                "content-type": "application/json"
                                            },
                                            "method": "POST",
                                            "uri": "https://graph.microsoft.com/beta/security/tiIndicators"
                                        },
                                        "runAfter": {},
                                        "type": "Http"
                                    }
                                },
                                "case": "IPv4"
                            }
                        },
                        "default": {
                            "actions": {}
                        },
                        "expression": "@items('For_each')?['type']",
                        "runAfter": {},
                        "type": "Switch"
                    }
                },
                "foreach": "@body('Parse_JSON')?['results']",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "HTTP": {
                "inputs": {
                    "headers": {
                        "X-OTX-API-KEY": ""
                    },
                    "method": "GET",
                    "queries": {
                        "modified_since": "@{addDays(utcNow(),-1)}",
                        "types": "IPV4, hostname, domain, URL"
                    },
                    "uri": "https://otx.alienvault.com/api/v1/indicators/export"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "properties": {
                            "body": {
                                "properties": {
                                    "count": {
                                        "type": "integer"
                                    },
                                    "next": {},
                                    "previous": {},
                                    "results": {
                                        "items": {
                                            "properties": {
                                                "content": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "indicator": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "indicator",
                                                "type",
                                                "title",
                                                "description",
                                                "content"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            },
                            "headers": {
                                "properties": {
                                    "Access-Control-Allow-Origin": {
                                        "type": "string"
                                    },
                                    "Connection": {
                                        "type": "string"
                                    },
                                    "Content-Type": {
                                        "type": "string"
                                    },
                                    "Date": {
                                        "type": "string"
                                    },
                                    "Server": {
                                        "type": "string"
                                    },
                                    "Vary": {
                                        "type": "string"
                                    },
                                    "Via": {
                                        "type": "string"
                                    },
                                    "X-Amz-Cf-Id": {
                                        "type": "string"
                                    },
                                    "X-Amz-Cf-Pop": {
                                        "type": "string"
                                    },
                                    "X-Cache": {
                                        "type": "string"
                                    },
                                    "X-Frame-Options": {
                                        "type": "string"
                                    },
                                    "X-OTX-ACTIVE": {
                                        "type": "string"
                                    },
                                    "X-Remote-User-Name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "statusCode": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Day",
                    "interval": 1
                },
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {}
}
